body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('./sw-bg.jpg');
  background-size: cover;
}

.card-holder {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    width: 90%;
}

.card {
    margin: 10%;
}
